data/
grood_runs/benchmark/*/preprocessed
grood_runs/benchmark/new_Hao_pb_tests/*/preprocessed
grood_runs/benchmark/pseudobulk_data
grood_runs/*/*/pseudobulk
grood_runs/F_*
grood_runs/E_*
grood_runs/D_*
grood_runs/C_*
grood_runs/B_*
grood_runs/A_*
grood_runs/Exp1_*